'global':
  'editor':
    'tabLength': 4
    'softWrapAtPreferredLineLength': true
    'fontSize': 12
    'invisibles': {}
  'core':
    'themes': [
      'atom-dark-ui'
      'base16-tomorrow-dark-theme'
    ]
  'exception-reporting':
    'userId': 'd64e0e3f-1aa0-7a99-ea65-f57326edbf3d'
  'welcome':
    'showOnStartup': false
  'autosave':
    'enabled': true
